<center>
<h1>글쓰기 페이지</h1>
<form action="{%url 'create'%}" method="post">
    {%csrf_token%}
    <p>[제목]</p>
    <input type="text" name="title">
    <p>[내용]</p>
    <textarea name="content" cols="30" rows="10"></textarea>

            <select name="category">
                <option value="공지">공지</option>
                <option value="자유">자유</option>
                <option value="질문">질문</option>
            </select>

    <input type="submit" value="글쓰기">
</form>
</center>

<style>
        body{
            background-color: rgba(209, 253, 86, 0.568);
        }
    </style>