{% extends 'base.html' %}
{% block content %}
{%if user.is_authenticated %}
{{user.username}}님, 환영합니다.

    <form action="{% url 'logout' %}" method="post">
    {%csrf_token%}
    <input type="submit" value="로그아웃">
    </form>
<br>
<a href="{%url 'create'%}">[글쓰기]</a>
{%else%}

<a href="{% url 'login' %}">로그인</a>
<a href="{% url 'signup' %}">회원가입</a>

{%endif%}
<center>
    <h1> MY BLOG </h1>
    <br>
<form action="{%url 'search'%}" method='get'>
        <select name="search_filter">
            <option value="제목">제목</option>
            <option value="내용">내용</option>
            <option value="제목+내용">제목+내용</option>
        </select>
    <input type="text" name="search">
    <button type="submit" class="btn btn-warning">검색</button>
</form>

<form action="{%url 'category'%}">
    <select name="category">
        <option value="공지">공지</option>
        <option value="자유">자유</option>
        <option value="질문">질문</option>
    </select>
    <button type="submit" class="btn btn-warning">분류</button>
</form>
</center>

{%for p in posts%}
    <p>글 번호 : {{p.id}}</p>
    <p>카테고리 : {{p.category}}</p>

    <a href ="{%url 'read' p.id%}">[제목] : {{p.title}}</a>
    <p>[내용] : {{p.content|truncatewords:10}}</p>
    <p>글 작성 시간 : {{p.created_at}}</p>
    <p>글 수정 시간 : {{p.updated_at}}</p>
    <hr>
{%endfor%}

<style>
        body{
            background-color: rgba(209, 253, 86, 0.568);
        }

        .container{
            background-color: rgb(248, 248, 248);
        }
    </style>

    <nav>
            <ul class="pagination">  
                {% if posts.has_previous %}
                <li class="page-item "><a class="page-link" href="?page={{ posts.previous_page_number }}">&lt;</a></li>
                {% endif %} 
                {% if posts.number > 2 %}
                <li class="page-item"><a class="page-link" href="?page=1">&lt;&lt;</a></li>
                {%endif%}
                {% if posts.has_next %}
                <li class="page-item ml-auto"><a class="page-link" href="?page={{ posts.next_page_number }}">&gt;</a></li>
                {% endif %}
            </ul>
        </nav>

{% endblock %}